{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des nos tours de Lyon</h1>

        {% for tour in tours %}
            <div>

                <h2>{{ tour.name }}</h2>
                <td><a href="{{ path('tour_show', { 'id': tour.id }) }}">{{ tour.id }}</a></td>
                <td>{{ tour.category }}</td>
                <td>{{ tour.cost }}</td>
                <td>{{ tour.step1 }}</td>
                <td>{{ tour.step2 }}</td>
                <td>{{ tour.step3 }}</td>
                <td>{{ tour.step4 }}</td>
                <td>{{ tour.step5 }}</td>
                <td>{{ tour.step6 }}</td>

                        <li>
                            <a href="{{ path('tour_show', { 'id': tour.id }) }}">show</a>
                        </li>
            </div>

                {%  dump(tour) %}
        {% endfor %}

    <ul>
        <li>
            <a href="{{ path('tour_new') }}">Create a new tour</a>
        </li>
    </ul>
{% endblock %}
