{% extends '@Geo/layout.html.twig' %}

{% block body %}
    <h1>Etablissement</h1>

    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ location.name }}</td>
            </tr>
            <tr>
                <th>Typedetail</th>
                <td>{{ location.typeDetail }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ location.address }}</td>
            </tr>
            <tr>
                <th>Postalcode</th>
                <td>{{ location.postalcode }}</td>
            </tr>
            <tr>
                <th>Town</th>
                <td>{{ location.town }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ location.phone }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ location.mail }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ location.website }}</td>
            </tr>
            <tr>
                <th>Facebook</th>
                <td>{{ location.facebook }}</td>
            </tr>
            <tr>
                <th>Rank</th>
                <td>{{ location.rank }}</td>
            </tr>
            <tr>
                <th>Openhour</th>
                <td>{{ location.openhour }}</td>
            </tr>
            <tr>
                <th>Rateclear</th>
                <td>{{ location.rateclear }}</td>
            </tr>
            <tr>
                <th>Minrate</th>
                <td>{{ location.minrate }}</td>
            </tr>
            <tr>
                <th>Maxrate</th>
                <td>{{ location.maxrate }}</td>
            </tr>
            <tr>
                <th>Producer</th>
                <td>{{ location.producer }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ location.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ location.longitude }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
